{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "version": "1.0",
    "description": "The Terminal49 API lets you pull in shipment details from your BOLs, track ETA changes and other events.\n\n## Schema\nTerminal49 implements the [JSON API](https://jsonapi.org/format/) spec. There are [implementations](https://jsonapi.org/implementations/) for consuming it built in most languages which should help you get up to speed consuming quickly.\n\n## Access\nContact us today for your API key.\n\n## Shipment tracking flow.\n\n1. Post a tracking_request with your bill of lading\n2. Poll the tracking_request, or setup a webhook to be notified when it has been processed\n3. A shipment object will be created\n\n## Status Updates\nShipments are container statuses are checked at various cadences, up to as frequently as every 15 minutes at the terminal. You can be notified of updates by setting up a webhook to receive notifications.\n",
    "contact": {
      "name": "Terminal 49",
      "url": "https://terminal49.com",
      "email": "support@terminal49.com"
    }
  },
  "servers": [
    {
      "url": "https://terminal49.com/api",
      "description": "Production"
    }
  ],
  "paths": {
    "/shipments": {
      "get": {
        "summary": "List shipments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "$ref": "#/components/schemas/account"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Errors": {
                    "value": {
                      "error": [
                        {
                          "title": "Invalid arrival_date_from",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid arrival_date_to",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid port_of_lading",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        },
                        {
                          "title": "Invalid port_of_discharge",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "List shipments",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "port_of_discharge": {
                        "type": "array",
                        "description": "Array of UN/LOCODEs",
                        "items": {
                          "type": "string"
                        }
                      },
                      "arrival_date_from": {
                        "type": "string",
                        "format": "date",
                        "description": "Shipments arriving (or arrived) after date (inclusive)"
                      },
                      "arrival_date_to": {
                        "type": "string",
                        "format": "date",
                        "description": "Shipments arriving (or arrived) before date (inclusive)\n"
                      },
                      "port_of_lading": {
                        "type": "array",
                        "description": "Array of UN/LOCODEs",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "page": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  },
                  "sort": {
                    "type": "string",
                    "default": "DESC",
                    "enum": [
                      "DESC",
                      "ASC"
                    ],
                    "description": "Records are sorted by ATA, ETA"
                  },
                  "q": {
                    "type": "string",
                    "description": "Search shipments by master bill of lading, reference number, or container number."
                  }
                }
              }
            }
          },
          "description": "Shipments can be searched and filtered by a variety of properties. \n\nEach of the filters is exclusive - i.e. you will be returned the intersection of shipments that match all of the filter parameters you provide. \n\nWhen a filter param allows passing an array of properties, it will filter against shipments matching any of the values.\n"
        },
        "tags": [
          "shipments"
        ]
      }
    },
    "/shipment/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Shipment Id"
        }
      ],
      "get": {
        "summary": "Get a single shipment",
        "tags": [
          "shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "$ref": "#/components/schemas/account"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-shipment-id",
        "security": [],
        "description": "Fetch a single shipment by ID"
      },
      "patch": {
        "summary": "Edit a shipment",
        "operationId": "patch-shipment-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Edit a shipment",
        "tags": [
          "shipments"
        ]
      },
      "delete": {
        "summary": "Delete a shipment",
        "operationId": "delete-shipment-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a shipiment",
        "tags": [
          "shipments"
        ]
      }
    },
    "/containers": {
      "get": {
        "summary": "List containers",
        "tags": [
          "containers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/container"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/metro_area"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          },
                          {
                            "$ref": "#/components/schemas/rail_terminal"
                          }
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-containers",
        "description": "List of active containers"
      }
    },
    "/containers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single container",
        "tags": [
          "containers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/container"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/metro_area"
                          },
                          {
                            "$ref": "#/components/schemas/rail_terminal"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Available for pickup in Oakland": {
                    "value": {
                      "data": {
                        "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                        "type": "container",
                        "attributes": {
                          "number": "CGMU5464706",
                          "equipment_type": "reefer",
                          "length": 40,
                          "height": "high_cube",
                          "weight": 40012,
                          "weight_unit": "lbs",
                          "created_at": "2020-02-20T13:37:12Z",
                          "seal_number": null,
                          "pickup_lfd": "2020-03-19T08:00:00Z",
                          "availability_known": true,
                          "available_for_pickup": true,
                          "current_transportation_mode": "grounded",
                          "pod_discharged_at": "2020-03-17T19:24:00Z",
                          "pod_picked_up_at": null,
                          "destination_unloaded_at": null,
                          "destination_picked_up_at": null,
                          "empty_returned_at": null,
                          "pod_timezone": "America/Los_Angeles",
                          "destination_timezone": null,
                          "empty_returned_timezone": null
                        },
                        "relationships": {
                          "most_recent_location": {
                            "data": {
                              "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                              "type": "terminal"
                            }
                          },
                          "shipment": {
                            "data": {
                              "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                              "type": "shipment"
                            }
                          },
                          "current_vessel": {
                            "data": null
                          }
                        },
                        "included": [
                          {
                            "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                            "type": "shipment",
                            "attributes": {
                              "bill_of_lading_number": "6140575020",
                              "ref_numbers": [
                                "my-ref-49"
                              ],
                              "created_at": "2020-02-20T13:37:12Z",
                              "tags": [],
                              "port_of_lading_locode": "CHCSN",
                              "port_of_lading_name": "Shanghai, CN",
                              "port_of_discharge_locode": "USOAK",
                              "port_of_discharge_name": "Oakland, CA",
                              "destination_locode": null,
                              "destination_name": null,
                              "shipping_line_scac": "COSU",
                              "pod_vessel_name": "EVER ETHIC",
                              "pod_voyage_number": null,
                              "pol_etd_at": null,
                              "pol_atd_at": null,
                              "pod_eta_at": null,
                              "pod_ata_at": null,
                              "destination_eta_at": null,
                              "destination_ata_at": null
                            },
                            "relationships": {
                              "containers": {
                                "data": [
                                  {
                                    "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                    "type": "container"
                                  }
                                ]
                              },
                              "port_of_lading": {
                                "data": {
                                  "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                                  "type": "port"
                                }
                              },
                              "port_of_discharge": {
                                "data": {
                                  "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                  "type": "port"
                                }
                              }
                            }
                          },
                          {
                            "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                            "type": "port",
                            "attributes": {
                              "name": "Shanghai",
                              "locode": "CNSHA",
                              "country_code": "CN",
                              "timezone": "Asia/Shanghai"
                            }
                          },
                          {
                            "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                            "type": "port",
                            "attributes": {
                              "name": "Oakland",
                              "locode": "USOAK",
                              "country_code": "US",
                              "timezone": "America/Los_Angeles"
                            }
                          },
                          {
                            "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                            "type": "terminal",
                            "attributes": {
                              "name": "Oakland International Container Terminal",
                              "nickname": "SSA",
                              "firms_code": "Z985"
                            },
                            "relationships": {
                              "port": {
                                "data": {
                                  "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                  "type": "port"
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-containers-id",
        "description": "Get a single container"
      }
    },
    "/hooks": {
      "get": {
        "summary": "List hooks",
        "tags": [
          "hooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-hooks",
        "description": "List hooks"
      },
      "post": {
        "summary": "",
        "operationId": "post-hooks",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "hooks"
        ]
      }
    },
    "/hooks/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get single hook",
        "tags": [
          "hooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-hooks-id",
        "description": "Get a specific hook"
      },
      "patch": {
        "summary": "Edit a hook",
        "operationId": "patch-hooks-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Edit a specific hook",
        "tags": [
          "hooks"
        ]
      },
      "delete": {
        "summary": "Delete a hook",
        "operationId": "delete-hooks-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a hook",
        "tags": [
          "hooks"
        ]
      }
    },
    "/hooks/{id}/test": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Test a push hook",
        "operationId": "post-hooks-id-test",
        "description": "Test a hook",
        "tags": [
          "hooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tracking_request/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single tracking request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-track-track_id",
        "description": "GET the status of an existing shipment tracking request to see if it has been added yet or not.",
        "tags": [
          "tracking_request"
        ]
      }
    },
    "/tracking_request": {
      "post": {
        "summary": "Create a shipment tracking request",
        "operationId": "post-track",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Error Examples": {
                    "value": {
                      "errors": [
                        {
                          "title": "Unrecognized SCAC",
                          "detail": "Unrecognized SCAC 'XOXO'"
                        },
                        {
                          "title": "Invalid SCAC",
                          "detail": "Scac must be 4 characters long"
                        },
                        {
                          "title": "Missing SCAC",
                          "detail": "Field 'scac' must be present"
                        },
                        {
                          "title": "Missing Bill of Lading",
                          "detail": "Field 'bill_of_lading' must be present"
                        },
                        {
                          "title": "Unsupported shipping line",
                          "detail": "We do not currentlly integrate with Bermuda Container Line"
                        },
                        {
                          "title": "Unknown customer",
                          "detail": "We could not find a customer with the id '59b3c977-7009-405e-9f8c-182409b30d40'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "bill_of_lading": {
                            "type": "string"
                          },
                          "ref_numbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "customer_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "scac": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "bill_of_lading",
                          "scac"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment-tracking_request"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                }
              }
            }
          },
          "description": "Create a shipment tracking request"
        },
        "security": [],
        "description": "POST a shipment tracking request. When we have connected with the shipping line we will setup the shipment for you.",
        "tags": [
          "tracking_request"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "List tracking requests",
        "operationId": "get-shipment-tracking_request",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Get shipment tracking requests",
        "tags": [
          "tracking_request"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account": {
        "title": "Account model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "enum": [
              "container"
            ]
          },
          "attributes": {
            "type": "object",
            "required": [
              "company_name"
            ],
            "properties": {
              "company_name": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "id",
          "attributes",
          "name"
        ]
      },
      "container": {
        "title": "Container model",
        "type": "object",
        "x-examples": {
          "example-1": {}
        },
        "x-tags": [
          "containers"
        ],
        "description": "Represents the equipment during a specific journey.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "equipment_type": {
                "type": "string",
                "enum": [
                  "dry",
                  "reefer",
                  "open top",
                  "flat rack",
                  "bulk",
                  "tank"
                ]
              },
              "length": {
                "type": "integer",
                "enum": [
                  10,
                  20,
                  40,
                  45
                ]
              },
              "height": {
                "type": "string",
                "enum": [
                  "standard",
                  "high_cube"
                ]
              },
              "weight": {
                "type": "string"
              },
              "weight_unit": {
                "type": "string",
                "enum": [
                  "kgs",
                  "lbs"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "seal_number": {
                "type": "string"
              },
              "pickup_lfd": {
                "type": "string",
                "format": "date-time",
                "description": "The last free day for pickup before deummurage accrues."
              },
              "availability_known": {
                "type": "boolean",
                "description": "Whether Terminal 49 is receiving availability status from the terminal."
              },
              "available_for_pickup": {
                "type": "boolean",
                "description": "If availability_known is true, then whether container is available to be picked up at terminal."
              },
              "current_transportation_mode": {
                "type": "string",
                "enum": [
                  "vessel",
                  "rail",
                  "truck",
                  "grounded"
                ]
              },
              "pod_discharged_at": {
                "type": "string",
                "format": "date-time",
                "description": "Discharge time at the port of discharge"
              },
              "pod_picked_up_at": {
                "type": "string",
                "format": "date-time",
                "description": "Full Out time at port of discharge. Null for inland moves."
              },
              "destination_unloaded_at": {
                "type": "string",
                "format": "date-time",
                "description": "Arrival or unloading time at final destination for inland moves."
              },
              "destination_picked_up_at": {
                "type": "string",
                "format": "date-time",
                "description": "Pickup time at final destination for inland moves."
              },
              "empty_returned_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time empty container was returned."
              },
              "pod_timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "destination_timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "empty_returned_timezone": {
                "type": "string",
                "description": "IANA tz"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "most_recent_location": {
                "type": "object",
                "description": "The current, or most recent land location.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "terminal",
                          "port",
                          "metroArea"
                        ]
                      }
                    }
                  }
                }
              },
              "current_vessel": {
                "type": "object",
                "description": "The vessel the container is currently laden on.",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "vessel"
                    ]
                  }
                }
              },
              "shipment": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "name": {
            "type": "string",
            "enum": [
              "container"
            ]
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "error": {
        "title": "Error model",
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "title"
        ]
      },
      "port": {
        "title": "Port model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "country_code": {
                "type": "string",
                "description": "2 digit country code"
              },
              "timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "locode": {
                "type": "string",
                "description": "UN/LOCODE"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "port"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "shipment": {
        "title": "Shipment model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "voyage": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "voyage"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "destination": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port",
                          "metro-area"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "port-of-lading": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "containers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "container"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                }
              },
              "port-of-discharge": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "customer": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "shipping_line": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipping_line"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "status_updates": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "status_update"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "properties": {
              "bill_of_lading_number": {
                "type": "string"
              },
              "ref-numbers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "created_at": {
                "type": "string",
                "format": "uri"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "port_of_lading_locode": {
                "type": "string"
              },
              "port_of_lading_name": {
                "type": "string"
              },
              "port_of_discharge_locode": {
                "type": "string"
              },
              "port_of_discharge_name": {
                "type": "string"
              },
              "destination_locode": {
                "type": "string"
              },
              "destination_name": {
                "type": "string"
              },
              "shipping_line_scac": {
                "type": "string"
              },
              "pod_vessel_name": {
                "type": "string"
              },
              "pod_voyage_number": {
                "type": "string"
              },
              "pol_etd_at": {
                "type": "string",
                "format": "date-time"
              },
              "pol_atd_at": {
                "type": "string",
                "format": "date-time"
              },
              "pod_eta_at": {
                "type": "string",
                "format": "date-time"
              },
              "pod_ata_at": {
                "type": "string",
                "format": "date-time"
              },
              "destination_eta_at": {
                "type": "string",
                "format": "date-time"
              },
              "destination_ata_at": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "bill_of_lading_number"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "shipment"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ],
        "x-tags": [
          "shipments"
        ],
        "x-examples": {
          "example-1": {}
        }
      },
      "terminal": {
        "title": "Terminal model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "required": [
              "port"
            ],
            "properties": {
              "port": {
                "type": "object",
                "required": [
                  "id",
                  "type"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "port"
                    ]
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "firms_code": {
                "type": "string",
                "description": "CBP FIRMS Code or CBS Sublocation Code"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "terminal"
            ]
          }
        },
        "required": [
          "attributes",
          "relationships"
        ]
      },
      "links": {
        "title": "links",
        "type": "object",
        "properties": {
          "last": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "self": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "meta": {
        "title": "meta",
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "total-count": {
            "type": "integer"
          },
          "total-pages": {
            "type": "integer"
          },
          "prev-page": {
            "type": "integer"
          },
          "next-page": {
            "type": "integer"
          },
          "current-page": {
            "type": "integer"
          }
        }
      },
      "metro_area": {
        "title": "Metro area model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "country_code": {
                "type": "string",
                "description": "2 digit country code"
              },
              "timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "unlocode": {
                "type": "string",
                "description": "UN/LOCODE"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "metro_area"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "shipping_line": {
        "title": "Shipping line model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "required": [
              "scac",
              "name",
              "nickname"
            ],
            "properties": {
              "scac": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "shipping_line"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes"
        ]
      },
      "status_update": {
        "title": "Status update model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "container": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "container"
                        ]
                      }
                    }
                  }
                }
              },
              "shipment": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment"
                        ]
                      }
                    }
                  }
                }
              },
              "location": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "port",
                          "metroarea",
                          "terminal",
                          "railterminal"
                        ]
                      }
                    }
                  }
                }
              },
              "vessel": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "vessel"
                        ]
                      }
                    }
                  }
                }
              },
              "fee": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "fee"
                        ]
                      }
                    }
                  }
                }
              },
              "hold": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "hold"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "properties": {
              "event": {
                "type": "string",
                "description": "The normalized event name"
              },
              "original_event": {
                "type": "string",
                "description": "The event name as originally passed by the source"
              },
              "estimated_at": {
                "type": "string",
                "description": "Estimated time for ETA and ETD changes"
              },
              "actual_at": {
                "type": "string"
              },
              "created_at": {
                "type": "string"
              },
              "transportation_mode": {
                "type": "string"
              },
              "carrier_scac": {
                "type": "string"
              },
              "vessel_name": {
                "type": "string"
              },
              "voyage_number": {
                "type": "string"
              },
              "original_location": {
                "type": "string"
              },
              "timezone": {
                "type": "string",
                "description": "IANA tz"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "status_update"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes"
        ]
      },
      "tracking_request": {
        "title": "Tracking request model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "shipment-tracking_request"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "bill_of_lading": {
                "type": "string"
              },
              "ref_numbers": {
                "type": "string"
              },
              "tags": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "created",
                  "shipping_line_unavailable",
                  "failed"
                ]
              }
            },
            "required": [
              "bill_of_lading",
              "status"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "customer": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "format": "uuid",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "account"
                        ]
                      }
                    }
                  }
                }
              },
              "shipment": {
                "type": "object",
                "properties": {
                  "data": {
                    "format": "uuid",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment"
                        ]
                      }
                    }
                  }
                }
              },
              "shipping_line": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipping_line"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "id",
          "type"
        ],
        "x-tags": [
          "tracking_request"
        ]
      },
      "rail_terminal": {
        "title": "Rail Terminal model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "required": [
              "port"
            ],
            "properties": {
              "port": {
                "type": "object",
                "required": [
                  "id",
                  "type"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "port"
                    ]
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "firms_code": {
                "type": "string",
                "description": "CBP FIRMS Code or CBS Sublocation Code"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "rail_terminal"
            ]
          }
        },
        "required": [
          "attributes",
          "relationships"
        ]
      }
    },
    "securitySchemes": {}
  },
  "tags": []
}