{
  "openapi": "3.0.0",
  "info": {
    "title": "API",
    "version": "1.0",
    "description": "# Introduction\n\nThe Terminal 49 API offers a convenient way to programatically track your shipments from origin to destination.\n\nHere are just a few of the data points we return and possible use-cases. \n\n\nData | Example Use Case\n-----|-------------------\n Destination ETA | Surface ETA changes to your relevant teams as they're reported\n Last Free Day and terminal status¹ | Track containers approaching LFD and prioritize dispatching\n Fees and holds at destination terminal | Clear your cargo to keep you containers moving\n Actual departure and arrival times | Report journey times by route to compare your ocean carriers performance\n\n_1.  At container ports in the US_\n## How it works\nAll you need to provide are your BOL numbers and SCACs. Terminal 49 will lookup the shipment with the carrier and populate shipment details including containers. \n\nOnce the shipment is setup Terminal 49 periodically checks with the carrier and the destination terminal. If any of the details of your shipment or containers change (for example - if the ETA changes) we will post the shipment to the the webhook you provide so you are always kept up-to-date.\n\n\n## Supported Carriers\nPresently, the Terminal 49 api supports shipments with the following carriers:\n- American President Lines  (APL) \\[APLU]\n- Australia National Line (ANL) \\[ANNU]\n- China Ocean Shipping Company (COSCO) \\[COSU]\n- CMA CGM \\[CMDU]\n- Evergreen \\[EGLV]\n- Hamburg Süd \\[SUDU]\n- Hapag-Lloyd \\[HLCU]\n- Hyundai Merchant Marine (HMM) \\[HDMU]\n- Maersk \\[MAEU]\n- Mediterranean Shipping Company (MSC) \\[MSCU]\n- Ocean Network Express (ONE) \\[ONEY]\n- Orient Overseas Container Line (OOCL) \\[OOLU]\n- Pacific International Lines (PIL) \\[PCIU]\n- Safmarine \\[SAFM]\n- Yangming Marine Transport (YangMing) \\[YMLU]\n\n## Integrated Ports\nPresently, the Terminal 49 api integrates with terminals at the following ports:\n- Baltimore\n- Boston\n- Florida\n- Houston\n- Jacksonville\n- Long Beach\n- Los Angeles\n- Miami\n- Mobile\n- New Jersey\n- New Orleans\n- New York\n- Oakland\n- Philadelphia\n- Port Everglades\n- Savannah\n- Seattle\n- Tacoma\n- Tampa\n- Virginia\n\n# Getting-Started\n\n# Getting-Started\n\n## Tracking flow\n\nTracking a new shipment with Terminal 49 is an asynchronous flow. Submit your tracking request to us and we will return a tracking request id so you can see the status of your request.\n\nWe recommend your register a webhook URL with us that we will call once we have processed the request.\n\nWhen we successfully lookup the BOL with the carrier we will return the newly created shipment with all of the details. \n\nIf we encounter a problem we'll return the error.\n\n![Tracking Request Diagram](https://www.terminal49.com/api/docs/assets/images/create-shipment-flow.png  \"Tracking Request Diagram\")\n\n## Authentication\n\nTo get your API token to Terminal 49 and go to your [account API settings](https://app.terminal49.com/settings/api)\n\nThe token should be sent with each API request in the Authentication header:\n\n```\nAuthentication: Token YOUR_API_TOKEN\n```\n",
    "contact": {
      "name": "Terminal 49",
      "url": "https://terminal49.com",
      "email": "support@terminal49.com"
    }
  },
  "servers": [
    {
      "url": "https://terminal49.com/api/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/shipments": {
      "get": {
        "summary": "List shipments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "$ref": "#/components/schemas/account"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                        "type": "shipment",
                        "attributes": {
                          "bill_of_lading_number": "6140575020",
                          "ref_numbers": [
                            "my-ref-49",
                            "PO#18412"
                          ],
                          "created_at": "2020-02-20T13:37:12Z",
                          "tags": [],
                          "port_of_lading_locode": "INVTZ",
                          "port_of_lading_name": "Visakhapatnam, IN",
                          "port_of_discharge_locode": "USNYC",
                          "port_of_discharge_name": "New York / New Jersey, NY",
                          "destination_locode": "USDET",
                          "destination_name": "Detroit, MI",
                          "shipping_line_scac": "HLCU",
                          "pod_vessel_name": "CMA CGM ALMAVIVA",
                          "pod_voyage_number": "0108",
                          "pol_etd_at": null,
                          "pol_atd_at": "2020-02-15T21:53Z",
                          "pol_timezone": "Asia/Calcutta",
                          "pod_eta_at": "2020-03-18T08:00Z",
                          "pod_ata_at": null,
                          "pod_timezone": "America/New_York",
                          "destination_eta_at": "2020-03-26T17:00Z",
                          "destination_ata_at": null,
                          "destination_timezone": "America/Detroit"
                        },
                        "relationships": {
                          "containers": {
                            "data": [
                              {
                                "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                "type": "container"
                              }
                            ]
                          },
                          "port_of_lading": {
                            "data": {
                              "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                              "type": "port"
                            }
                          },
                          "port_of_discharge": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "port"
                            }
                          },
                          "destination": {
                            "data": {
                              "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                              "type": "metro_area"
                            }
                          },
                          "customer": {
                            "data": {
                              "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                              "type": "account"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                          "type": "container",
                          "attributes": {
                            "number": "UACU4743531",
                            "equipment_type": "reefer",
                            "length": 40,
                            "height": "high_cube",
                            "weight": 35075,
                            "weight_unit": "kigs",
                            "created_at": "2020-02-20T08:19:52Z",
                            "seal_number": null,
                            "pickup_lfd": null,
                            "availability_known": false,
                            "available_for_pickup": null,
                            "current_transportation_mode": "vessel",
                            "pod_discharged_at": null,
                            "pod_picked_up_at": null,
                            "destination_unloaded_at": null,
                            "destination_picked_up_at": null,
                            "empty_returned_at": null,
                            "pod_timezone": "America/Los_Angeles",
                            "destination_timezone": "America/Detroit",
                            "empty_returned_timezone": null
                          },
                          "relationships": {
                            "most_recent_location": {
                              "data": {
                                "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                                "type": "port"
                              }
                            },
                            "shipment": {
                              "data": {
                                "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                                "type": "shipment"
                              }
                            },
                            "current_vessel": {
                              "data": {
                                "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Errors": {
                    "value": {
                      "error": [
                        {
                          "title": "Invalid arrival_date_from",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid arrival_date_to",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid port_of_lading",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        },
                        {
                          "title": "Invalid port_of_discharge",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "List shipments",
        "security": [],
        "tags": [
          "Shipments"
        ],
        "parameters": [
          {
            "schema": {
              "type": "array"
            },
            "in": "query",
            "name": "filter[port_of_discharge]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[arrival_date_from]",
            "description": "Shipments arriving (or arrived) after date (inclusive)"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "filter[arrival_date_to]",
            "description": "Shipments arriving (or arrived) before date (inclusive)"
          },
          {
            "schema": {
              "type": "array"
            },
            "in": "query",
            "name": "filter[port_of_lading]",
            "description": "Array of UN/LOCODEs"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[size]"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "in": "query",
            "name": "sort"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "Search shipments by master bill of lading, reference number, or container number."
          }
        ]
      }
    },
    "/shipment/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Shipment Id"
        }
      ],
      "get": {
        "summary": "Get a single shipment",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "$ref": "#/components/schemas/account"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                        "type": "shipment",
                        "attributes": {
                          "bill_of_lading_number": "6140575020",
                          "ref_numbers": [
                            "my-ref-49",
                            "PO#18412"
                          ],
                          "created_at": "2020-02-20T13:37:12Z",
                          "tags": [],
                          "port_of_lading_locode": "INVTZ",
                          "port_of_lading_name": "Visakhapatnam, IN",
                          "port_of_discharge_locode": "USNYC",
                          "port_of_discharge_name": "New York / New Jersey, NY",
                          "destination_locode": "USDET",
                          "destination_name": "Detroit, MI",
                          "shipping_line_scac": "HLCU",
                          "pod_vessel_name": "CMA CGM ALMAVIVA",
                          "pod_voyage_number": "0108",
                          "pol_etd_at": null,
                          "pol_atd_at": "2020-02-15T21:53Z",
                          "pol_timezone": "Asia/Calcutta",
                          "pod_eta_at": "2020-03-18T08:00Z",
                          "pod_ata_at": null,
                          "pod_timezone": "America/New_York",
                          "destination_eta_at": "2020-03-26T17:00Z",
                          "destination_ata_at": null,
                          "destination_timezone": "America/Detroit"
                        },
                        "relationships": {
                          "containers": {
                            "data": [
                              {
                                "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                "type": "container"
                              }
                            ]
                          },
                          "port_of_lading": {
                            "data": {
                              "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                              "type": "port"
                            }
                          },
                          "port_of_discharge": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "port"
                            }
                          },
                          "destination": {
                            "data": {
                              "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                              "type": "metro_area"
                            }
                          },
                          "customer": {
                            "data": {
                              "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                              "type": "account"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                          "type": "container",
                          "attributes": {
                            "number": "UACU4743531",
                            "equipment_type": "reefer",
                            "length": 40,
                            "height": "high_cube",
                            "weight": 35075,
                            "weight_unit": "kigs",
                            "created_at": "2020-02-20T08:19:52Z",
                            "seal_number": null,
                            "pickup_lfd": null,
                            "availability_known": false,
                            "available_for_pickup": null,
                            "current_transportation_mode": "vessel",
                            "pod_discharged_at": null,
                            "pod_picked_up_at": null,
                            "destination_unloaded_at": null,
                            "destination_picked_up_at": null,
                            "empty_returned_at": null,
                            "pod_timezone": "America/Los_Angeles",
                            "destination_timezone": "America/Detroit",
                            "empty_returned_timezone": null
                          },
                          "relationships": {
                            "most_recent_location": {
                              "data": {
                                "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                                "type": "port"
                              }
                            },
                            "shipment": {
                              "data": {
                                "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                                "type": "shipment"
                              }
                            },
                            "current_vessel": {
                              "data": {
                                "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-shipment-id",
        "security": [],
        "description": "Fetch a single shipment by ID"
      },
      "patch": {
        "summary": "Edit a shipment",
        "operationId": "patch-shipment-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Edit a shipment",
        "tags": [
          "Shipments"
        ]
      },
      "delete": {
        "summary": "Delete a shipment",
        "operationId": "delete-shipment-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a shipiment",
        "tags": [
          "Shipments"
        ]
      }
    },
    "/containers": {
      "get": {
        "summary": "List containers",
        "tags": [
          "Containers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/container"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/metro_area"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          },
                          {
                            "$ref": "#/components/schemas/rail_terminal"
                          }
                        ]
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    }
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "data": {
                        "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                        "type": "container",
                        "attributes": {
                          "number": "CGMU5464706",
                          "equipment_type": "reefer",
                          "length": 40,
                          "height": "high_cube",
                          "weight": 40012,
                          "weight_unit": "lbs",
                          "created_at": "2020-02-20T13:37:12Z",
                          "seal_number": null,
                          "pickup_lfd": "2020-03-19T08:00:00Z",
                          "availability_known": true,
                          "available_for_pickup": true,
                          "current_transportation_mode": "grounded",
                          "pod_discharged_at": "2020-03-17T19:24:00Z",
                          "pod_picked_up_at": null,
                          "destination_unloaded_at": null,
                          "destination_picked_up_at": null,
                          "empty_returned_at": null,
                          "pod_timezone": "America/Los_Angeles",
                          "destination_timezone": null,
                          "empty_returned_timezone": null
                        },
                        "relationships": {
                          "most_recent_location": {
                            "data": {
                              "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                              "type": "terminal"
                            }
                          },
                          "shipment": {
                            "data": {
                              "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                              "type": "shipment"
                            }
                          },
                          "current_vessel": {
                            "data": null
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                          "type": "shipment",
                          "attributes": {
                            "bill_of_lading_number": "6140575020",
                            "ref_numbers": [
                              "my-ref-49"
                            ],
                            "created_at": "2020-02-20T13:37:12Z",
                            "tags": [],
                            "port_of_lading_locode": "CHCSN",
                            "port_of_lading_name": "Shanghai, CN",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Oakland, CA",
                            "destination_locode": null,
                            "destination_name": null,
                            "shipping_line_scac": "COSU",
                            "pod_vessel_name": "EVER ETHIC",
                            "pod_voyage_number": null,
                            "pol_etd_at": null,
                            "pol_atd_at": null,
                            "pod_eta_at": null,
                            "pod_ata_at": null,
                            "destination_eta_at": null,
                            "destination_ata_at": null
                          },
                          "relationships": {
                            "containers": {
                              "data": [
                                {
                                  "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                  "type": "container"
                                }
                              ]
                            },
                            "port_of_lading": {
                              "data": {
                                "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            }
                          }
                        },
                        {
                          "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                          "type": "port",
                          "attributes": {
                            "name": "Shanghai",
                            "locode": "CNSHA",
                            "country_code": "CN",
                            "timezone": "Asia/Shanghai"
                          }
                        },
                        {
                          "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                          "type": "port",
                          "attributes": {
                            "name": "Oakland",
                            "locode": "USOAK",
                            "country_code": "US",
                            "timezone": "America/Los_Angeles"
                          }
                        },
                        {
                          "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                          "type": "terminal",
                          "attributes": {
                            "name": "Oakland International Container Terminal",
                            "nickname": "SSA",
                            "firms_code": "Z985"
                          },
                          "relationships": {
                            "port": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            }
                          }
                        }
                      ],
                      "links": {
                        "self": "https://terminal49.com/api/v2/containers?page_number=1&per_page=5&sort=ASC",
                        "first": "https://terminal49.com/api/v2/containers?page_number=1&per_page=5&sort=ASC",
                        "prev": null,
                        "next": null,
                        "last": "https://terminal49.com/api/v2/containers?page_number=1&per_page=5&sort=ASC"
                      },
                      "meta": {
                        "current_page": 1,
                        "next_page": null,
                        "prev-page": null,
                        "total_pages": 1,
                        "total_count": 1,
                        "size": 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-containers",
        "description": "List of active containers"
      }
    },
    "/containers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single container",
        "tags": [
          "Containers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/container"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/metro_area"
                          },
                          {
                            "$ref": "#/components/schemas/rail_terminal"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Available for pickup in Oakland": {
                    "value": {
                      "data": {
                        "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                        "type": "container",
                        "attributes": {
                          "number": "CGMU5464706",
                          "equipment_type": "reefer",
                          "length": 40,
                          "height": "high_cube",
                          "weight": 40012,
                          "weight_unit": "lbs",
                          "created_at": "2020-02-20T13:37:12Z",
                          "seal_number": null,
                          "pickup_lfd": "2020-03-19T08:00:00Z",
                          "availability_known": true,
                          "available_for_pickup": true,
                          "current_transportation_mode": "grounded",
                          "pod_discharged_at": "2020-03-17T19:24:00Z",
                          "pod_picked_up_at": null,
                          "destination_unloaded_at": null,
                          "destination_picked_up_at": null,
                          "empty_returned_at": null,
                          "pod_timezone": "America/Los_Angeles",
                          "destination_timezone": null,
                          "empty_returned_timezone": null
                        },
                        "relationships": {
                          "most_recent_location": {
                            "data": {
                              "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                              "type": "terminal"
                            }
                          },
                          "shipment": {
                            "data": {
                              "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                              "type": "shipment"
                            }
                          },
                          "current_vessel": {
                            "data": null
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                          "type": "shipment",
                          "attributes": {
                            "bill_of_lading_number": "6140575020",
                            "ref_numbers": [
                              "my-ref-49"
                            ],
                            "created_at": "2020-02-20T13:37:12Z",
                            "tags": [],
                            "port_of_lading_locode": "CHCSN",
                            "port_of_lading_name": "Shanghai, CN",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Oakland, CA",
                            "destination_locode": null,
                            "destination_name": null,
                            "shipping_line_scac": "COSU",
                            "pod_vessel_name": "EVER ETHIC",
                            "pod_voyage_number": null,
                            "pol_etd_at": null,
                            "pol_atd_at": null,
                            "pod_eta_at": null,
                            "pod_ata_at": null,
                            "destination_eta_at": null,
                            "destination_ata_at": null
                          },
                          "relationships": {
                            "containers": {
                              "data": [
                                {
                                  "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                  "type": "container"
                                }
                              ]
                            },
                            "port_of_lading": {
                              "data": {
                                "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            }
                          }
                        },
                        {
                          "id": "fa21bb72-975b-4dd4-a768-1109ff628dc5",
                          "type": "port",
                          "attributes": {
                            "name": "Shanghai",
                            "locode": "CNSHA",
                            "country_code": "CN",
                            "timezone": "Asia/Shanghai"
                          }
                        },
                        {
                          "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                          "type": "port",
                          "attributes": {
                            "name": "Oakland",
                            "locode": "USOAK",
                            "country_code": "US",
                            "timezone": "America/Los_Angeles"
                          }
                        },
                        {
                          "id": "3e550f0e-ac2a-48fb-b242-5be45ecf2c78",
                          "type": "terminal",
                          "attributes": {
                            "name": "Oakland International Container Terminal",
                            "nickname": "SSA",
                            "firms_code": "Z985"
                          },
                          "relationships": {
                            "port": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            }
                          }
                        }
                      ]
                    }
                  },
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                        "type": "container",
                        "attributes": {
                          "number": "UACU4743531",
                          "equipment_type": "reefer",
                          "length": 40,
                          "height": "high_cube",
                          "weight": 35075,
                          "weight_unit": "kgs",
                          "created_at": "2020-02-20T08:19:52Z",
                          "seal_number": null,
                          "pickup_lfd": null,
                          "availability_known": false,
                          "available_for_pickup": null,
                          "current_transportation_mode": "vessel",
                          "pod_discharged_at": null,
                          "pod_picked_up_at": null,
                          "destination_unloaded_at": null,
                          "destination_picked_up_at": null,
                          "empty_returned_at": null,
                          "pod_timezone": "America/Los_Angeles",
                          "destination_timezone": "America/Detroit",
                          "empty_returned_timezone": null
                        },
                        "relationships": {
                          "most_recent_location": {
                            "data": {
                              "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                              "type": "port"
                            }
                          },
                          "shipment": {
                            "data": {
                              "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                              "type": "shipment"
                            }
                          },
                          "current_vessel": {
                            "data": {
                              "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                              "type": "vessel"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                          "type": "shipment",
                          "attributes": {
                            "bill_of_lading_number": "6140575020",
                            "ref_numbers": [
                              "my-ref-49",
                              "PO#18412"
                            ],
                            "created_at": "2020-02-20T13:37:12Z",
                            "tags": [],
                            "port_of_lading_locode": "INVTZ",
                            "port_of_lading_name": "Visakhapatnam, IN",
                            "port_of_discharge_locode": "USNYC",
                            "port_of_discharge_name": "New York / New Jersey, NY",
                            "destination_locode": "USDET",
                            "destination_name": "Detroit, MI",
                            "shipping_line_scac": "HLCU",
                            "pod_vessel_name": "CMA CGM ALMAVIVA",
                            "pod_voyage_number": "0108",
                            "pol_etd_at": null,
                            "pol_atd_at": "2020-02-15T21:53Z",
                            "pol_timezone": "Asia/Calcutta",
                            "pod_eta_at": "2020-03-18T08:00Z",
                            "pod_ata_at": null,
                            "pod_timezone": "America/New_York",
                            "destination_eta_at": "2020-03-26T17:00Z",
                            "destination_ata_at": null,
                            "destination_timezone": "America/Detroit"
                          },
                          "relationships": {
                            "containers": {
                              "data": [
                                {
                                  "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                  "type": "container"
                                }
                              ]
                            },
                            "port_of_lading": {
                              "data": {
                                "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                                "type": "port"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                                "type": "metro_area"
                              }
                            },
                            "customer": {
                              "data": {
                                "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                                "type": "account"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-containers-id",
        "description": "Get a single container"
      }
    },
    "/hooks": {
      "get": {
        "summary": "List hooks",
        "tags": [
          "Hooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/hook"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-hooks",
        "description": "List hooks"
      },
      "post": {
        "summary": "",
        "operationId": "post-hooks",
        "responses": {
          "201": {
            "description": "Created"
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Hooks"
        ]
      }
    },
    "/hooks/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get single hook",
        "tags": [
          "Hooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/hook"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-hooks-id",
        "description": "Get a specific hook"
      },
      "patch": {
        "summary": "Edit a hook",
        "operationId": "patch-hooks-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "./terminal49.v1.json#/components/schemas/hook"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Edit a specific hook",
        "tags": [
          "Hooks"
        ]
      },
      "delete": {
        "summary": "Delete a hook",
        "operationId": "delete-hooks-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a hook",
        "tags": [
          "Hooks"
        ]
      }
    },
    "/hooks/{id}/test": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Test a push hook",
        "operationId": "post-hooks-id-test",
        "description": "Test a hook",
        "tags": [
          "Hooks"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/tracking_request/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single tracking request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-track-track_id",
        "description": "GET the status of an existing shipment tracking request to see if it has been added yet or not.",
        "tags": [
          "Tracking Requests"
        ]
      }
    },
    "/tracking_request": {
      "post": {
        "summary": "Create a shipment tracking request",
        "operationId": "post-track",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Error Examples": {
                    "value": {
                      "errors": [
                        {
                          "title": "Unrecognized SCAC",
                          "detail": "Unrecognized SCAC 'XOXO'"
                        },
                        {
                          "title": "Invalid SCAC",
                          "detail": "Scac must be 4 characters long"
                        },
                        {
                          "title": "Missing SCAC",
                          "detail": "Field 'scac' must be present"
                        },
                        {
                          "title": "Missing Bill of Lading",
                          "detail": "Field 'bill_of_lading' must be present"
                        },
                        {
                          "title": "Unsupported shipping line",
                          "detail": "We do not currentlly integrate with Bermuda Container Line"
                        },
                        {
                          "title": "Unknown customer",
                          "detail": "We could not find a customer with the id '59b3c977-7009-405e-9f8c-182409b30d40'"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "bill_of_lading": {
                            "type": "string"
                          },
                          "ref_numbers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "customer_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "scac": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "bill_of_lading",
                          "scac"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment-tracking_request"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                }
              }
            }
          },
          "description": "Create a shipment tracking request"
        },
        "security": [],
        "description": "POST a shipment tracking request. When we have connected with the shipping line we will setup the shipment for you.",
        "tags": [
          "Tracking Requests"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "List tracking requests",
        "operationId": "get-shipment-tracking_request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tracking_request"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "shipment"
                                ]
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            },
                            "description": ""
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "List all shipment tracking requests",
        "tags": [
          "Tracking Requests"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filter": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "pending",
                          "created",
                          "failed"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/events": {
      "get": {
        "summary": "List events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/event"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/tracking_request"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-events"
      }
    },
    "/events/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single event",
        "tags": [
          "events"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/event"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/tracking_request"
                          },
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-events-id"
      }
    }
  },
  "tags": [],
  "components": {
    "schemas": {
      "shipment": {
        "title": "Shipment model",
        "type": "object",
        "x-tags": [
          "Shipments"
        ],
        "x-examples": {},
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "voyage": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "voyage"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "destination": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port",
                          "metro-area"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "port-of-lading": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "containers": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "container"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      },
                      "required": [
                        "type",
                        "id"
                      ]
                    }
                  }
                }
              },
              "port-of-discharge": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "customer": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "account"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              },
              "shipping_line": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipping_line"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "required": [
                      "type",
                      "id"
                    ]
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "properties": {
              "bill_of_lading_number": {
                "type": "string"
              },
              "ref-numbers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "created_at": {
                "type": "string",
                "format": "uri"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "port_of_lading_locode": {
                "type": "string"
              },
              "port_of_lading_name": {
                "type": "string"
              },
              "port_of_discharge_locode": {
                "type": "string"
              },
              "port_of_discharge_name": {
                "type": "string"
              },
              "destination_locode": {
                "type": "string"
              },
              "destination_name": {
                "type": "string"
              },
              "shipping_line_scac": {
                "type": "string"
              },
              "pod_vessel_name": {
                "type": "string"
              },
              "pod_voyage_number": {
                "type": "string"
              },
              "pol_etd_at": {
                "type": "string",
                "format": "date-time"
              },
              "pol_atd_at": {
                "type": "string",
                "format": "date-time"
              },
              "pod_eta_at": {
                "type": "string",
                "format": "date-time"
              },
              "pod_ata_at": {
                "type": "string",
                "format": "date-time"
              },
              "destination_eta_at": {
                "type": "string",
                "format": "date-time"
              },
              "destination_ata_at": {
                "type": "string",
                "format": "date-time"
              },
              "pol_timezone": {
                "type": "string",
                "description": "\n"
              },
              "pod_timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "destination_timezone": {
                "type": "string",
                "description": "IANA tz"
              }
            },
            "required": [
              "bill_of_lading_number"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "shipment"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "meta": {
        "title": "meta",
        "type": "object",
        "properties": {
          "size": {
            "type": "integer"
          },
          "total-count": {
            "type": "integer"
          },
          "total-pages": {
            "type": "integer"
          },
          "prev-page": {
            "type": "integer"
          },
          "next-page": {
            "type": "integer"
          },
          "current-page": {
            "type": "integer"
          }
        }
      },
      "links": {
        "title": "links",
        "type": "object",
        "properties": {
          "last": {
            "type": "string",
            "format": "uri"
          },
          "next": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri"
          },
          "first": {
            "type": "string",
            "format": "uri"
          },
          "self": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "container": {
        "title": "Container model",
        "type": "object",
        "x-examples": {},
        "x-tags": [
          "containers"
        ],
        "description": "Represents the equipment during a specific journey.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string"
              },
              "equipment_type": {
                "type": "string",
                "enum": [
                  "dry",
                  "reefer",
                  "open top",
                  "flat rack",
                  "bulk",
                  "tank"
                ]
              },
              "length": {
                "type": "integer",
                "enum": [
                  10,
                  20,
                  40,
                  45
                ]
              },
              "height": {
                "type": "string",
                "enum": [
                  "standard",
                  "high_cube"
                ]
              },
              "weight": {
                "type": "string"
              },
              "weight_unit": {
                "type": "string",
                "enum": [
                  "kgs",
                  "lbs"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "seal_number": {
                "type": "string"
              },
              "pickup_lfd": {
                "type": "string",
                "format": "date-time",
                "description": "The last free day for pickup before deummurage accrues."
              },
              "availability_known": {
                "type": "boolean",
                "description": "Whether Terminal 49 is receiving availability status from the terminal."
              },
              "available_for_pickup": {
                "type": "boolean",
                "description": "If availability_known is true, then whether container is available to be picked up at terminal."
              },
              "current_transportation_mode": {
                "type": "string",
                "enum": [
                  "vessel",
                  "rail",
                  "truck",
                  "grounded"
                ]
              },
              "pod_discharged_at": {
                "type": "string",
                "format": "date-time",
                "description": "Discharge time at the port of discharge"
              },
              "pod_picked_up_at": {
                "type": "string",
                "format": "date-time",
                "description": "Full Out time at port of discharge. Null for inland moves."
              },
              "destination_unloaded_at": {
                "type": "string",
                "format": "date-time",
                "description": "Arrival or unloading time at final destination for inland moves."
              },
              "destination_picked_up_at": {
                "type": "string",
                "format": "date-time",
                "description": "Pickup time at final destination for inland moves."
              },
              "empty_returned_at": {
                "type": "string",
                "format": "date-time",
                "description": "Time empty container was returned."
              },
              "pod_timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "destination_timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "empty_returned_timezone": {
                "type": "string",
                "description": "IANA tz"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "most_recent_location": {
                "type": "object",
                "description": "The current, or most recent land location.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "terminal",
                          "port",
                          "metroArea"
                        ]
                      }
                    }
                  }
                }
              },
              "current_vessel": {
                "type": "object",
                "description": "The vessel the container is currently laden on.",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "vessel"
                        ]
                      }
                    }
                  }
                }
              },
              "shipment": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "name": {
            "type": "string",
            "enum": [
              "container"
            ]
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "port": {
        "title": "Port model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "country_code": {
                "type": "string",
                "description": "2 digit country code"
              },
              "timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "locode": {
                "type": "string",
                "description": "UN/LOCODE"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "port"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "shipping_line": {
        "title": "Shipping line model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "required": [
              "scac",
              "name",
              "nickname"
            ],
            "properties": {
              "scac": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "shipping_line"
            ]
          }
        },
        "required": [
          "id",
          "type",
          "attributes"
        ]
      },
      "account": {
        "title": "Account model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "container"
            ]
          },
          "attributes": {
            "type": "object",
            "required": [
              "company_name"
            ],
            "properties": {
              "company_name": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "id",
          "type",
          "attributes"
        ],
        "x-examples": {}
      },
      "error": {
        "title": "Error model",
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "title"
        ]
      },
      "metro_area": {
        "title": "Metro area model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "country_code": {
                "type": "string",
                "description": "2 digit country code"
              },
              "timezone": {
                "type": "string",
                "description": "IANA tz"
              },
              "locode": {
                "type": "string",
                "description": "UN/LOCODE"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "metro_area"
            ]
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "terminal": {
        "title": "Terminal model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "required": [
              "port"
            ],
            "properties": {
              "port": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "firms_code": {
                "type": "string",
                "description": "CBP FIRMS Code or CBS Sublocation Code"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "terminal"
            ]
          }
        },
        "required": [
          "attributes",
          "relationships"
        ]
      },
      "rail_terminal": {
        "title": "Rail Terminal model",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "relationships": {
            "type": "object",
            "properties": {
              "port": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "port"
                        ]
                      }
                    }
                  }
                }
              },
              "metro_area": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "metro_area"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "attributes": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "nickname": {
                "type": "string"
              },
              "firms_code": {
                "type": "string",
                "description": "CBP FIRMS Code or CBS Sublocation Code"
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "rail_terminal"
            ]
          }
        },
        "required": [
          "attributes"
        ]
      },
      "event": {
        "title": "Event model",
        "type": "object",
        "description": "Events represent a change to a model which may be subscripted to via webhook.",
        "x-tags": [
          "events"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "event"
            ]
          },
          "attributes": {
            "type": "object",
            "required": [
              "event_type",
              "created_at"
            ],
            "properties": {
              "event_type": {
                "type": "string",
                "enum": [
                  "tracking_request.failed",
                  "tracking_request.succeeded",
                  "shipment.created",
                  "shipment.updated",
                  "container.created",
                  "container.updated"
                ]
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "pending_webhooks": {
                "type": "integer",
                "description": "Number of webhooks yet to return a 200",
                "minimum": 0
              }
            }
          },
          "related": {
            "type": "object",
            "properties": {
              "object": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "shipment",
                      "container",
                      "Tracking Requests"
                    ]
                  }
                }
              }
            }
          },
          "included": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/shipment"
                },
                {
                  "$ref": "#/components/schemas/container"
                },
                {
                  "$ref": "#/components/schemas/tracking_request"
                }
              ]
            }
          },
          "": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "attributes"
        ]
      },
      "tracking_request": {
        "title": "Tracking request model",
        "type": "object",
        "x-tags": [
          "Tracking Requests"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "shipment-tracking_request"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "bill_of_lading": {
                "type": "string"
              },
              "ref_numbers": {
                "type": "string"
              },
              "tags": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "created",
                  "failed"
                ]
              },
              "failed_reason": {
                "type": "string",
                "enum": [
                  "shipping_line_unavailable",
                  "unrecognized_response"
                ]
              }
            },
            "required": [
              "bill_of_lading",
              "status"
            ]
          },
          "relationships": {
            "type": "object",
            "properties": {
              "customer": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "format": "uuid",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "account"
                        ]
                      }
                    }
                  }
                }
              },
              "shipment": {
                "type": "object",
                "properties": {
                  "data": {
                    "format": "uuid",
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipment"
                        ]
                      }
                    }
                  }
                }
              },
              "shipping_line": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "shipping_line"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "required": [
          "id",
          "type"
        ]
      },
      "hook": {
        "title": "hook",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "hook"
            ]
          },
          "attributes": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": {
                  "type": "string"
[...]
