{
  "openapi": "3.0.0",
  "info": {
    "title": "Terminal49 API Reference",
    "version": "0.1.0",
    "contact": {
      "name": "Terminal49 API support",
      "url": "https://www.terminal49.com",
      "email": "support@terminal49.com"
    },
    "description": "The Terminal 49 API offers a convenient way to programmatically track your shipments from origin to destination.",
    "x-label": "Beta",
    "termsOfService": "https://www.terminal49.com/terms"
  },
  "servers": [
    {
      "url": "https://api.terminal49.com/v2",
      "description": "Production"
    }
  ],
  "paths": {
    "/shipments": {
      "get": {
        "summary": "List shipments",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": [
                        {
                          "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                          "type": "shipment",
                          "attributes": {
                            "bill_of_lading_number": "6140575020",
                            "ref_numbers": [
                              "my-ref-49",
                              "PO#18412"
                            ],
                            "created_at": "2020-02-20T13:37:12Z",
                            "tags": [],
                            "port_of_lading_locode": "INVTZ",
                            "port_of_lading_name": "Visakhapatnam, IN",
                            "port_of_discharge_locode": "USNYC",
                            "port_of_discharge_name": "New York / New Jersey, NY",
                            "destination_locode": "USDET",
                            "destination_name": "Detroit, MI",
                            "shipping_line_scac": "HLCU",
                            "pod_vessel_name": "CMA CGM ALMAVIVA",
                            "pod_vessel_imo": "9450648",
                            "pod_voyage_number": "0108",
                            "pol_etd_at": null,
                            "pol_atd_at": "2020-02-15T21:53:00Z",
                            "pol_timezone": "Asia/Calcutta",
                            "pod_eta_at": "2020-03-18T08:00:00Z",
                            "pod_ata_at": null,
                            "pod_timezone": "America/New_York",
                            "destination_eta_at": "2020-03-26T17:00:00Z",
                            "destination_ata_at": null,
                            "destination_timezone": "America/Detroit"
                          },
                          "relationships": {
                            "containers": {
                              "data": [
                                {
                                  "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                  "type": "container"
                                }
                              ]
                            },
                            "port_of_lading": {
                              "data": {
                                "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                                "type": "port"
                              }
                            },
                            "destination": {
                              "data": {
                                "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                                "type": "metro_area"
                              }
                            },
                            "customer": {
                              "data": {
                                "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                                "type": "account"
                              }
                            }
                          }
                        }
                      ],
                      "included": [
                        {
                          "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                          "type": "container",
                          "attributes": {
                            "number": "UACU4743531",
                            "equipment_type": "reefer",
                            "length": 40,
                            "height": "high_cube",
                            "weight": 35075,
                            "weight_unit": "kigs",
                            "created_at": "2020-02-20T08:19:52Z",
                            "seal_number": null,
                            "pickup_lfd": null,
                            "availability_known": false,
                            "available_for_pickup": null,
                            "current_transportation_mode": "vessel",
                            "pod_discharged_at": null,
                            "pod_picked_up_at": null,
                            "destination_unloaded_at": null,
                            "destination_picked_up_at": null,
                            "empty_returned_at": null,
                            "pod_timezone": "America/Los_Angeles",
                            "destination_timezone": "America/Detroit",
                            "empty_returned_timezone": null
                          },
                          "relationships": {
                            "most_recent_location": {
                              "data": {
                                "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                                "type": "port"
                              }
                            },
                            "shipment": {
                              "data": {
                                "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                                "type": "shipment"
                              }
                            },
                            "current_vessel": {
                              "data": {
                                "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Errors": {
                    "value": {
                      "error": [
                        {
                          "title": "Invalid arrival_date_from",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid arrival_date_to",
                          "detail": "filter['arrival_from'] must be in the format 'YYYY-MM-DD' and a valid date"
                        },
                        {
                          "title": "Invalid port_of_lading",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        },
                        {
                          "title": "Invalid port_of_discharge",
                          "detail": "port_of_discharge must be an array of 5 character UN/LOCODEs"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipments",
        "description": "Returns a list of your shipments. The shipments are returned sorted by creation date, with the most recent shipments appearing first.\n\nThis api will return all shipments associated with the account. Shipments created via the `tracking_request` API aswell as the ones added via the dashboard will be retuned via this endpoint. ",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1
            },
            "in": "query",
            "name": "page[number]",
            "description": "\n"
          },
          {
            "schema": {
              "type": "integer",
              "default": 30
            },
            "in": "query",
            "name": "page[size]",
            "description": "\n"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "\nSearch shipments by master bill of lading, reference number, or container number."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include"
          }
        ]
      }
    },
    "/shipments/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Shipment Id"
        }
      ],
      "get": {
        "summary": "Get a shipment",
        "tags": [
          "Shipments"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/shipment"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/container"
                          },
                          {
                            "$ref": "#/components/schemas/port"
                          },
                          {
                            "$ref": "#/components/schemas/terminal"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                        "type": "shipment",
                        "attributes": {
                          "bill_of_lading_number": "6140575020",
                          "ref_numbers": [
                            "my-ref-49",
                            "PO#18412"
                          ],
                          "created_at": "2020-02-20T13:37:12Z",
                          "tags": [],
                          "port_of_lading_locode": "INVTZ",
                          "port_of_lading_name": "Visakhapatnam, IN",
                          "port_of_discharge_locode": "USNYC",
                          "port_of_discharge_name": "New York / New Jersey, NY",
                          "destination_locode": "USDET",
                          "destination_name": "Detroit, MI",
                          "shipping_line_scac": "HLCU",
                          "pod_vessel_name": "CMA CGM ALMAVIVA",
                          "pod_vessel_imo": "9450648",
                          "pod_voyage_number": "0108",
                          "pol_etd_at": null,
                          "pol_atd_at": "2020-02-15T21:53:00Z",
                          "pol_timezone": "Asia/Calcutta",
                          "pod_eta_at": "2020-03-18T08:00:00Z",
                          "pod_ata_at": null,
                          "pod_timezone": "America/New_York",
                          "destination_eta_at": "2020-03-26T17:00:00Z",
                          "destination_ata_at": null,
                          "destination_timezone": "America/Detroit"
                        },
                        "relationships": {
                          "containers": {
                            "data": [
                              {
                                "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                "type": "container"
                              }
                            ]
                          },
                          "port_of_lading": {
                            "data": {
                              "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                              "type": "port"
                            }
                          },
                          "port_of_discharge": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "port"
                            }
                          },
                          "destination": {
                            "data": {
                              "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                              "type": "metro_area"
                            }
                          },
                          "customer": {
                            "data": {
                              "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                              "type": "account"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                          "type": "container",
                          "attributes": {
                            "number": "UACU4743531",
                            "equipment_type": "reefer",
                            "length": 40,
                            "height": "high_cube",
                            "weight": 35075,
                            "weight_unit": "kigs",
                            "created_at": "2020-02-20T08:19:52Z",
                            "seal_number": null,
                            "pickup_lfd": null,
                            "availability_known": false,
                            "available_for_pickup": null,
                            "current_transportation_mode": "vessel",
                            "pod_discharged_at": null,
                            "pod_picked_up_at": null,
                            "destination_unloaded_at": null,
                            "destination_picked_up_at": null,
                            "empty_returned_at": null,
                            "pod_timezone": "America/Los_Angeles",
                            "destination_timezone": "America/Detroit",
                            "empty_returned_timezone": null
                          },
                          "relationships": {
                            "most_recent_location": {
                              "data": {
                                "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                                "type": "port"
                              }
                            },
                            "shipment": {
                              "data": {
                                "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                                "type": "shipment"
                              }
                            },
                            "current_vessel": {
                              "data": {
                                "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "En-route to NY with inland move": {
                    "value": {
                      "data": {
                        "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                        "type": "shipment",
                        "attributes": {
                          "bill_of_lading_number": "6140575020",
                          "ref_numbers": [
                            "my-ref-49",
                            "PO#18412"
                          ],
                          "created_at": "2020-02-20T13:37:12Z",
                          "tags": [],
                          "port_of_lading_locode": "INVTZ",
                          "port_of_lading_name": "Visakhapatnam, IN",
                          "port_of_discharge_locode": "USNYC",
                          "port_of_discharge_name": "New York / New Jersey, NY",
                          "destination_locode": "USDET",
                          "destination_name": "Detroit, MI",
                          "shipping_line_scac": "HLCU",
                          "pod_vessel_name": "CMA CGM ALMAVIVA",
                          "pod_voyage_number": "0108",
                          "pol_etd_at": null,
                          "pol_atd_at": "2020-02-15T21:53Z",
                          "pol_timezone": "Asia/Calcutta",
                          "pod_eta_at": "2020-03-18T08:00Z",
                          "pod_ata_at": null,
                          "pod_timezone": "America/New_York",
                          "destination_eta_at": "2020-03-26T17:00Z",
                          "destination_ata_at": null,
                          "destination_timezone": "America/Detroit"
                        },
                        "relationships": {
                          "containers": {
                            "data": [
                              {
                                "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                                "type": "container"
                              }
                            ]
                          },
                          "port_of_lading": {
                            "data": {
                              "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                              "type": "port"
                            }
                          },
                          "port_of_discharge": {
                            "data": {
                              "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                              "type": "port"
                            }
                          },
                          "destination": {
                            "data": {
                              "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                              "type": "metro_area"
                            }
                          },
                          "customer": {
                            "data": {
                              "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                              "type": "account"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "c99a81c0-ff69-4bdf-aa5f-8e33a787f5fa",
                          "type": "container",
                          "attributes": {
                            "number": "UACU4743531",
                            "equipment_type": "reefer",
                            "length": 40,
                            "height": "high_cube",
                            "weight": 35075,
                            "weight_unit": "kigs",
                            "created_at": "2020-02-20T08:19:52Z",
                            "seal_number": null,
                            "pickup_lfd": null,
                            "availability_known": false,
                            "available_for_pickup": null,
                            "current_transportation_mode": "vessel",
                            "pod_discharged_at": null,
                            "pod_picked_up_at": null,
                            "destination_unloaded_at": null,
                            "destination_picked_up_at": null,
                            "empty_returned_at": null,
                            "pod_timezone": "America/Los_Angeles",
                            "destination_timezone": "America/Detroit",
                            "empty_returned_timezone": null
                          },
                          "relationships": {
                            "most_recent_location": {
                              "data": {
                                "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                                "type": "port"
                              }
                            },
                            "shipment": {
                              "data": {
                                "id": "512ae32c-a604-44f8-9c15-2ca9cd3d2ae8",
                                "type": "shipment"
                              }
                            },
                            "current_vessel": {
                              "data": {
                                "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "bde5465a-1160-4fde-a026-74df9c362f65",
                          "type": "port",
                          "attributes": {
                            "name": "Visakhapatnam",
                            "locode": "INVTZ",
                            "country_code": "IN",
                            "timezone": "Asia/Calcutta"
                          }
                        },
                        {
                          "id": "dd179094-a1d4-4129-842d-b952e43df4b7",
                          "type": "port",
                          "attributes": {
                            "name": "Damietta",
                            "locode": "EGDAM",
                            "country_code": "EG",
                            "time_zone": "Africa/Cairo"
                          }
                        },
                        {
                          "id": "f7cb530a-9e60-412c-a5bc-205a2f34ba54",
                          "type": "port",
                          "attributes": {
                            "name": "New York / New Jersey",
                            "locode": "USNYC",
                            "country_code": "US",
                            "timezone": "America/New_York"
                          }
                        },
                        {
                          "id": "c9ae2b6b-5088-4e07-ba09-2872121e4fa2",
                          "type": "metro_area",
                          "attributes": {
                            "name": "Detroit",
                            "locode": "USDET",
                            "country_code": "US",
                            "state_abbr": "MI",
                            "timezone": "America/Detroit"
                          }
                        },
                        {
                          "id": "ff76b51a-371e-45ec-86d1-9d03ccae566a",
                          "type": "account",
                          "attributes": {
                            "name": "A-Z Imports"
                          }
                        },
                        {
                          "id": "252a5450-2893-4207-b5c4-81ce3152ce84",
                          "type": "vessel",
                          "attributes": {
                            "name": "CMA CGM ALMAVIVA",
                            "imo": "9450648",
                            "mmsi": "228339600"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-shipment-id",
        "description": "Retrieves the details of an existing shipment. You need only supply the unique shipment `id` that was returned upon `tracking_request` creation.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include"
          }
        ]
      }
    },
    "/tracking_requests": {
      "post": {
        "summary": "Create a tracking request",
        "operationId": "post-track",
        "responses": {
          "201": {
            "description": "Tracking Request Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Pending Tracking Request": {
                    "value": {
                      "data": {
                        "id": "ba4cb904-827f-4038-8e31-1e92b3356218",
                        "type": "tracking_request",
                        "attributes": {
                          "request_number": "MEDUFR030802",
                          "request_type": "bill_of_lading",
                          "scac": "MSCU",
                          "ref_numbers": [],
                          "created_at": "2020-04-04T16:13:35-07:00",
                          "status": "pending",
                          "failed_reason": null
                        },
                        "relationships": {
                          "tracked_object": {
                            "data": null
                          }
                        },
                        "links": {
                          "self": "/v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218"
                        }
                      }
                    }
                  }
                }
              }
            },
            "headers": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {
                  "Error Examples": {
                    "value": {
                      "errors": [
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac can't be blank",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac 'XXXX' is not recognized",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/scac"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Scac 'UALC' is not supported. We do not currently integrate with Universal Africa Lines",
                          "code": "blank"
                        },
                        {
                          "status": "422",
                          "source": {
                            "pointer": "/data/attributes/request_number"
                          },
                          "title": "Unprocessable Entity",
                          "detail": "Request number can't be blank",
                          "code": "blank"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "request_type": {
                            "type": "string",
                            "example": "bill_of_lading",
                            "enum": [
                              "bill_of_lading",
                              "tracking_number"
                            ]
                          },
                          "request_number": {
                            "type": "string",
                            "example": "MEDUFR030802"
                          },
                          "scac": {
                            "type": "string",
                            "example": "MSCU",
                            "minLength": 4,
                            "maxLength": 4
                          },
                          "ref_numbers": {
                            "type": "array",
                            "description": "Optional list of reference numbers to be added to the shipment when tracking request completes",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "request_type",
                          "request_number",
                          "scac"
                        ]
                      },
                      "type": {
                        "enum": [
                          "tracking_request"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "type"
                    ]
                  }
                }
              },
              "examples": {
                "Example: MSC BL": {
                  "value": {
                    "data": {
                      "attributes": {
                        "request_type": "bill_of_lading",
                        "request_number": "MEDUFR030802",
                        "ref_numbers": [
                          "PO12345",
                          "HBL12345",
                          "CUSREF1234"
                        ],
                        "scac": "MSCU"
                      },
                      "type": "tracking_request"
                    }
                  }
                }
              }
            }
          },
          "description": "Create a shipment tracking request"
        },
        "security": [
          {
            "authorization": []
          }
        ],
        "description": "To track an ocean shipment, you create a new tracking request. \nTwo attributes are required to track a shipment. A `bill of lading/booking number` and a shipping line `SCAC`. \n\nOnce a tracking request is created we will attempt to fetch the shipment details and it's related containers from the shipping line. If the attempt is successful we will create in new shipment object including any related container objects. We will send a `tracking_Request.succeeded` webhook notification to your webhooks.  \n\nIf the attempt to fetch fails then we will send a `tracking_Request.failed` webhook notification to your `webhooks`.  \n\nA `tracking_Request.succeeded` or `tracking_Request.failed` webhook notificaiton will only be sent  if you have  atleast one active webhook. ",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": []
      },
      "parameters": [],
      "get": {
        "summary": "List tracking requests",
        "operationId": "get-tracking-requests",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/tracking_request"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "shipment"
                                ]
                              },
                              "links": {
                                "type": "object",
                                "properties": {
                                  "self": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            },
                            "description": ""
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns a list of your tracking requests. The trackig requests are returned sorted by creation date, with the most recent tracking request appearing first.",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "q",
            "description": "A search term to be applied against request_number and reference_numbers."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "pending",
                "failed"
              ],
              "example": "created"
            },
            "in": "query",
            "name": "filter[status]",
            "description": "filter by `status`"
          },
          {
            "schema": {
              "type": "string",
              "example": "MSCU"
            },
            "in": "query",
            "name": "filter[scac]",
            "description": "filter by shipping line `scac`"
          },
          {
            "schema": {
              "type": "string",
              "example": "2020-04-28T22:59:15Z",
              "format": "date-time"
            },
            "in": "query",
            "name": "filter[created_at][start]",
            "description": "filter by tracking_requests `created_at` after a certain ISO8601 timestamp"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-04-28T22:59:15Z"
            },
            "in": "query",
            "description": "filter by tracking_requests `created_at` before a certain ISO8601 timestamp",
            "name": "filter[created_at][end]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include. 'tracked_object' is included by default."
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[size]"
          }
        ]
      }
    },
    "/tracking_requests/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Tracking Request ID"
        }
      ],
      "get": {
        "summary": "Get a single tracking request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/tracking_request"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/account"
                          },
                          {
                            "$ref": "#/components/schemas/shipment"
                          },
                          {
                            "$ref": "#/components/schemas/shipping_line"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "With Status Created": {
                    "value": {
                      "data": {
                        "id": "ba4cb904-827f-4038-8e31-1e92b3356218",
                        "type": "tracking_request",
                        "attributes": {
                          "request_number": "MEDUFR030802",
                          "request_type": "bill_of_lading",
                          "scac": "MSCU",
                          "ref_numbers": [],
                          "created_at": "2020-04-04T16:13:35-07:00",
                          "status": "created",
                          "failed_reason": null
                        },
                        "relationships": {
                          "tracked_object": {
                            "data": {
                              "id": "eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83",
                              "type": "shipment"
                            }
                          }
                        },
                        "links": {
                          "self": "/v2/tracking_requests/ba4cb904-827f-4038-8e31-1e92b3356218"
                        }
                      },
                      "included": [
                        {
                          "id": "eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2020-04-04T16:13:37-07:00",
                            "bill_of_lading_number": "MEDUFR030802",
                            "ref_numbers": [
                              null
                            ],
                            "shipping_line_scac": "MSCU",
                            "shipping_line_name": "Mediterranean Shipping Company",
                            "port_of_lading_locode": "FRFOS",
                            "port_of_lading_name": "Fos-Sur-Mer",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Oakland",
                            "pod_vessel_name": "MSC ALGECIRAS",
                            "pod_vessel_imo": "9605243",
                            "pod_voyage_number": "920A",
                            "destination_locode": "USOAK",
                            "destination_name": "Oakland",
                            "destination_timezone": "America/Los_Angeles",
                            "destination_ata_at": "2019-06-21T18:46:00-07:00",
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": "2019-05-24T03:00:00-07:00",
                            "pol_timezone": "Europe/Paris",
                            "pod_eta_at": null,
                            "pod_ata_at": "2019-06-21T18:46:00-07:00",
                            "pod_timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "6d8c6c29-72a6-49ad-87b7-fd045f202212",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": null
                            },
                            "destination": {
                              "data": {
                                "id": "42d1ba3a-f4b8-431d-a6fe-49fd748a59e7",
                                "type": "port"
                              }
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "11c1fa10-52a5-48e2-82f4-5523756b3d0f",
                                  "type": "container"
                                }
                              ]
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/eb6f218a-0b4a-47f9-8ef9-759aa5e0ea83"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-track-request-by-id",
        "description": "Get the details and status of an existing tracking request. ",
        "tags": [
          "Tracking Requests"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include. 'tracked_object' is included by default."
          }
        ]
      }
    },
    "/webhooks/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get single webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhook"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhooks-id",
        "description": "Get the details of a single webhook"
      },
      "patch": {
        "summary": "Edit a webhook",
        "operationId": "patch-webhooks-id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "./terminal49.v1.json#/components/schemas/webhook"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update a single webhook",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "attributes",
                      "type"
                    ],
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362",
                            "format": "uri",
                            "description": "The URL of the webhook endpoint."
                          },
                          "events": {
                            "type": "array",
                            "uniqueItems": true,
                            "description": "The list of events to enable for this endpoint. You may specify `['*']` to enable all events.",
                            "items": {
                              "type": "string",
                              "example": "['*']"
                            }
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "headers": {
                            "type": "array",
                            "description": "Optional custom headers to pass with each webhook invocation",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the header. (Please not this will be auto-capitalized) "
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value to pass for the header\n"
                                }
                              }
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "webhook"
                        ]
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a webhook",
        "operationId": "delete-webhooks-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Delete a webhook",
        "tags": [
          "Webhooks"
        ]
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/webhook"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhooks",
        "description": "Get a list of all the webhooks",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[size]"
          }
        ]
      },
      "post": {
        "summary": "Create a webhook",
        "operationId": "post-webhooks",
        "tags": [
          "Webhooks"
        ],
        "description": "You can configure a webhook via the API to be notified about events that happen in your Terminal49 account. These events can be realted to tracking_requests, shipments and containers. \n\nThis is the recommended way tracking shipments and containers via the API. You should use this instead of polling our the API periodically.  ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "attributes",
                      "type",
                      "id"
                    ],
                    "properties": {
                      "attributes": {
                        "type": "object",
                        "required": [
                          "url",
                          "events",
                          "active"
                        ],
                        "properties": {
                          "url": {
                            "type": "string",
                            "example": "https://webhook.site/#!/39084fbb-d887-42e8-be08-b9183ad02362",
                            "format": "uri",
                            "description": "The URL of the webhook endpoint."
                          },
                          "events": {
                            "type": "array",
                            "uniqueItems": true,
                            "description": "The list of events to enable for this endpoint. You may specify `['*']` to enable all events.",
                            "items": {
                              "type": "string",
                              "example": "['*']"
                            }
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "headers": {
                            "type": "array",
                            "description": "Optional custom headers to pass with each webhook invocation",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name of the header. (Please not this will be auto-capitalized) "
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value to pass for the header\n"
                                }
                              }
                            }
                          }
                        }
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "webhook"
                        ]
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  }
                },
                "required": [
                  "data"
                ]
              },
              "examples": {
                "Test Webhook via webhook.site": {
                  "value": {
                    "data": {
                      "type": "webhook",
                      "id": "9809fb96-7754-488f-99df-29ca8d410d89",
                      "attributes": {
                        "url": "https://webhook.site/",
                        "active": true,
                        "events": [
                          "*"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "Create a test webhook endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhook"
                    }
                  }
                },
                "examples": {
                  "Test Endpoint Created": {
                    "value": {
                      "data": {
                        "type": "webhook",
                        "id": "9809fb96-7754-488f-99df-29ca8d410d89",
                        "attributes": {
                          "url": "https://webhook.site/",
                          "active": true,
                          "events": [
                            "*"
                          ],
                          "secret": "C193J3QOXMFH",
                          "created_at": "2020-06-05T19:06:13Z"
                        }
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/webhook"
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/webhook_notification/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get a single webhook notification",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/webhook_notification"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/webhook"
                          },
                          {
                            "$ref": "#/components/schemas/tracking_request"
                          },
                          {
                            "$ref": "#/components/schemas/transport_event"
                          },
                          {
                            "$ref": "#/components/schemas/estimated_event"
                          },
                          {
                            "$ref": "#/components/schemas/container_updated_event"
                          }
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Tracking Request": {
                    "value": {
                      "data": {
                        "id": "a76187fc-5749-43f9-9053-cfaad9790a31",
                        "type": "webhook_notification",
                        "attributes": {
                          "id": "a76187fc-5749-43f9-9053-cfaad9790a31",
                          "event": "tracking_request.succeeded",
                          "delivery_status": "pending",
                          "created_at": "2020-09-11T21:25:34Z"
                        },
                        "relationships": {
                          "reference_object": {
                            "data": {
                              "id": "bdeca506-9741-4ab1-a0a7-cfd1d908e923",
                              "type": "tracking_request"
                            }
                          },
                          "webhook": {
                            "data": {
                              "id": "914b21ce-dd7d-4c49-8503-65aba488e9a9",
                              "type": "webhook"
                            }
                          },
                          "webhook_notification_logs": {
                            "data": []
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "bdeca506-9741-4ab1-a0a7-cfd1d908e923",
                          "type": "tracking_request",
                          "attributes": {
                            "request_number": "TE497ED1063E",
                            "request_type": "bill_of_lading",
                            "scac": "MSCU",
                            "ref_numbers": [],
                            "created_at": "2020-09-11T21:25:34Z",
                            "status": "created",
                            "failed_reason": null,
                            "is_retrying": false,
                            "retry_count": null
                          },
                          "relationships": {
                            "tracked_object": {
                              "data": {
                                "id": "b5b10c0a-8d18-46da-b4c2-4e5fa790e7da",
                                "type": "shipment"
                              }
                            }
                          },
                          "links": {
                            "self": "/v2/tracking_requests/bdeca506-9741-4ab1-a0a7-cfd1d908e923"
                          }
                        },
                        {
                          "id": "b5b10c0a-8d18-46da-b4c2-4e5fa790e7da",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2020-09-11T21:25:33Z",
                            "bill_of_lading_number": "TE497ED1063E",
                            "ref_numbers": [],
                            "shipping_line_scac": "MSCU",
                            "shipping_line_name": "Mediterranean Shipping Company",
                            "port_of_lading_locode": "MXZLO",
                            "port_of_lading_name": "Manzanillo",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Port of Oakland",
                            "pod_vessel_name": "MSC CHANNE",
                            "pod_vessel_imo": "9710438",
                            "pod_voyage_number": "098N",
                            "destination_locode": null,
                            "destination_name": null,
                            "destination_timezone": null,
                            "destination_ata_at": null,
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": "2020-08-29T21:25:33Z",
                            "pol_timezone": "America/Mexico_City",
                            "pod_eta_at": "2020-09-18T21:25:33Z",
                            "pod_ata_at": null,
                            "pod_timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "4384d6a5-5ccc-43b7-8d19-4a9525e74c08",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "2a765fdd-c479-4345-b71d-c4ef839952e2",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "17891bc8-52da-40bf-8ff0-0247ec05faf1",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "b2fc728c-e2f5-4a99-8899-eb7b34ef22d7",
                                  "type": "container"
                                }
                              ]
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/b5b10c0a-8d18-46da-b4c2-4e5fa790e7da"
                          }
                        },
                        {
                          "id": "b2fc728c-e2f5-4a99-8899-eb7b34ef22d7",
                          "type": "container",
                          "attributes": {
                            "number": "ARDU1824900",
                            "seal_number": "139F1451",
                            "created_at": "2020-09-11T21:25:34Z",
                            "equipment_type": "dry",
                            "equipment_length": 40,
                            "equipment_height": "standard",
                            "weight_in_lbs": 53507,
                            "fees_at_pod_terminal": [],
                            "holds_at_pod_terminal": [],
                            "pickup_lfd": null,
                            "pickup_appointment_at": null,
                            "availability_known": true,
                            "available_for_pickup": false,
                            "pod_arrived_at": null,
                            "pod_discharged_at": null,
                            "final_destination_full_out_at": null,
                            "pod_full_out_at": null,
                            "empty_terminated_at": null
                          },
                          "relation ships": {
                            "shipment": {
                              "data": {
                                "id": "b5b10c0a-8d18-46da-b4c2-4e5fa790e7da",
                                "type": "shipment"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "17891bc8-52da-40bf-8ff0-0247ec05faf1",
                                "type": "terminal"
                              }
                            },
                            "transport_events": {
                              "data": [
                                {
                                  "id": "56078596-5293-4c84-9245-cca00a787265",
                                  "type": "transport_event"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "id": "56078596-5293-4c84-9245-cca00a787265",
                          "type": "transport_event",
                          "attributes": {
                            "event": "container.transport.vessel_departed",
                            "created_at": "2020-09-11T21:25:34Z",
                            "voyage_number": null,
                            "timestamp": "2020-08-29T21:25:33Z",
                            "location_locode": "MXZLO",
                            "timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "shipment": {
                              "data": {
                                "id": "b5b10c0a-8d18-46da-b4c2-4e5fa790e7da",
                                "type": "shipment"
                              }
                            },
                            "container": {
                              "data": {
                                "id": "b2fc728c-e2f5-4a99-8899-eb7b34ef22d7",
                                "type": "container"
                              }
                            },
                            "vessel": {
                              "data": null
                            },
                            "location": {
                              "data": {
                                "id": "2a765fdd-c479-4345-b71d-c4ef839952e2",
                                "type": "port"
                              }
                            },
                            "terminal": {
                              "data": null
                            }
                          }
                        }
                      ]
                    }
                  },
                  "Estimated Event": {
                    "value": {
                      "data": {
                        "id": "d7e04138-b59d-4c41-9d2d-251d95bedd6e",
                        "type": "webhook_notification",
                        "attributes": {
                          "id": "d7e04138-b59d-4c41-9d2d-251d95bedd6e",
                          "event": "shipment.estimated.arrival",
                          "delivery_status": "pending",
                          "created_at": "2020-09-11T21:25:34Z"
                        },
                        "relationships": {
                          "reference_object": {
                            "data": {
                              "id": "b68bc6cb-2c37-43f6-889b-86a16b2b6fe6",
                              "type": "estimated_event"
                            }
                          },
                          "webhook": {
                            "data": {
                              "id": "614eab61-ae3c-4d40-bbe9-41200a172691",
                              "type": "webhook"
                            }
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "b68bc6cb-2c37-43f6-889b-86a16b2b6fe6",
                          "type": "estimated_event",
                          "attributes": {
                            "created_at": "2020-04-06T19:02:46-07:00",
                            "estimated_timestamp": "2020-04-09T19:02:46-07:00",
                            "voyage_number": "A1C",
                            "event": "shipment.estimated.arrival",
                            "timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "shipment": {
                              "data": {
                                "id": "715ed64b-6195-49f6-9407-1383a8088bfd",
                                "type": "shipment"
                              }
                            },
                            "port": {
                              "data": {
                                "id": "ed4001a5-ad9d-43c3-883c-79354f422510",
                                "type": "port"
                              }
                            },
                            "vessel": {
                              "data": {
                                "id": "ebf68c6c-9d0d-4383-aa41-e097009dfb4c",
                                "type": "vessel"
                              }
                            }
                          }
                        },
                        {
                          "id": "ed4001a5-ad9d-43c3-883c-79354f422510",
                          "type": "port",
                          "attributes": {
                            "id": "ed4001a5-ad9d-43c3-883c-79354f422510",
                            "name": "Port of Oakland",
                            "code": "USOAK",
                            "state_abbr": "CA",
                            "city": "Oakland",
                            "country_code": "US",
                            "time_zone": "America/Los_Angeles"
                          }
                        },
                        {
                          "id": "715ed64b-6195-49f6-9407-1383a8088bfd",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2020-04-06T19:02:46-07:00",
                            "bill_of_lading_number": "TE49DD6650B9",
                            "ref_numbers": [
                              "REF-4A25EA"
                            ],
                            "shipping_line_scac": "MSCU",
                            "shipping_line_name": "Mediterranean Shipping Company",
                            "port_of_lading_locode": "MXZLO",
                            "port_of_lading_name": "Manzanillo",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Port of Oakland",
                            "pod_vessel_name": "MSC CHANNE",
                            "pod_vessel_imo": "9710438",
                            "pod_voyage_number": "098N",
                            "destination_locode": null,
                            "destination_name": null,
                            "destination_timezone": null,
                            "destination_ata_at": null,
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": null,
                            "pol_timezone": "America/Mexico_City",
                            "pod_eta_at": "2020-04-13T19:02:46-07:00",
                            "pod_ata_at": null,
                            "pod_timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "1378c720-efe9-4562-a2ad-562002eb4b1d",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "ed4001a5-ad9d-43c3-883c-79354f422510",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "2508d879-4451-4d7f-ab23-92258b5df553",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": null
                            },
                            "containers": {
                              "data": []
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/715ed64b-6195-49f6-9407-1383a8088bfd"
                          }
                        }
                      ]
                    }
                  },
                  "Transport Event": {
                    "value": {
                      "data": {
                        "id": "abec839a-48fe-4540-93d7-d3ea3d67bdbf",
                        "type": "webhook_notification",
                        "attributes": {
                          "id": "abec839a-48fe-4540-93d7-d3ea3d67bdbf",
                          "event": "container.transport.vessel_arrived",
                          "delivery_status": "pending",
                          "created_at": "2020-07-28T23:12:53Z"
                        },
                        "relationships": {
                          "reference_object": {
                            "data": {
                              "id": "a6ecb8ab-98d6-4cab-8487-ce9dd7be082b",
                              "type": "transport_event"
                            }
                          },
                          "webhook": {
                            "data": {
                              "id": "534d498b-8332-439a-accb-129dfd144ceb",
                              "type": "webhook"
                            }
                          },
                          "webhook_notification_logs": {
                            "data": []
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "a6ecb8ab-98d6-4cab-8487-ce9dd7be082b",
                          "type": "transport_event",
                          "attributes": {
                            "event": "container.transport.vessel_arrived",
                            "created_at": "2020-07-28T23:12:53Z",
                            "voyage_number": null,
                            "timestamp": "2020-07-28T23:12:53Z",
                            "timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "shipment": {
                              "data": {
                                "id": "1fc35241-4c8b-420d-803a-9e6661720a05",
                                "type": "shipment"
                              }
                            },
                            "container": {
                              "data": {
                                "id": "8c2f335a-b155-4021-87f0-9b040159a981",
                                "type": "container"
                              }
                            },
                            "vessel": {
                              "data": {
                                "id": "b381c692-8dad-4f04-873f-d9e567143335",
                                "type": "vessel"
                              }
                            },
                            "location": {
                              "data": {
                                "id": "f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995",
                                "type": "port"
                              }
                            },
                            "terminal": {
                              "data": {
                                "id": "26fede8d-2c6d-4bf5-98d6-5a86d30f17a9",
                                "type": "terminal"
                              }
                            }
                          }
                        },
                        {
                          "id": "f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995",
                          "type": "port",
                          "attributes": {
                            "id": "f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995",
                            "name": "Port of Oakland",
                            "code": "USOAK",
                            "state_abbr": "CA",
                            "city": "Oakland",
                            "country_code": "US",
                            "time_zone": "America/Los_Angeles"
                          }
                        },
                        {
                          "id": "1fc35241-4c8b-420d-803a-9e6661720a05",
                          "type": "shipment",
                          "attributes": {
                            "created_at": "2020-07-28T23:12:53Z",
                            "bill_of_lading_number": "TE491846459E",
                            "ref_numbers": [
                              null
                            ],
                            "shipping_line_scac": "MSCU",
                            "shipping_line_name": "Mediterranean Shipping Company",
                            "port_of_lading_locode": "MXZLO",
                            "port_of_lading_name": "Manzanillo",
                            "port_of_discharge_locode": "USOAK",
                            "port_of_discharge_name": "Port of Oakland",
                            "pod_vessel_name": "MSC CHANNE",
                            "pod_vessel_imo": "9710438",
                            "pod_voyage_number": "098N",
                            "destination_locode": null,
                            "destination_name": null,
                            "destination_timezone": null,
                            "destination_ata_at": null,
                            "destination_eta_at": null,
                            "pol_etd_at": null,
                            "pol_atd_at": "2020-07-15T23:12:53Z",
                            "pol_timezone": "America/Mexico_City",
                            "pod_eta_at": "2020-08-04T23:12:53Z",
                            "pod_ata_at": null,
                            "pod_timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "port_of_lading": {
                              "data": {
                                "id": "06564cb7-77d6-4e0e-8e4a-37756ca21bc9",
                                "type": "port"
                              }
                            },
                            "port_of_discharge": {
                              "data": {
                                "id": "f5a8a49f-d8b2-4d2a-8a43-0e4ff0ce7995",
                                "type": "port"
                              }
                            },
                            "pod_terminal": {
                              "data": {
                                "id": "06f5d3bb-f258-4f1b-8c2f-db78248f6e29",
                                "type": "terminal"
                              }
                            },
                            "destination": {
                              "data": null
                            },
                            "containers": {
                              "data": [
                                {
                                  "id": "8c2f335a-b155-4021-87f0-9b040159a981",
                                  "type": "container"
                                }
                              ]
                            }
                          },
                          "links": {
                            "self": "/v2/shipments/1fc35241-4c8b-420d-803a-9e6661720a05"
                          }
                        }
                      ]
                    }
                  },
                  "Container Updated Event": {
                    "value": {
                      "data": {
                        "id": "416e293f-4423-47f7-abf3-1ae97054f41f",
                        "type": "webhook_notification",
                        "attributes": {
                          "id": "416e293f-4423-47f7-abf3-1ae97054f41f",
                          "event": "container.updated",
                          "delivery_status": "pending",
                          "created_at": "2020-06-04T22:03:09Z"
                        },
                        "relationships": {
                          "reference_object": {
                            "data": {
                              "id": "fc48cb10-b7a8-47a4-a12f-89bce7434978",
                              "type": "container_updated_event"
                            }
                          },
                          "webhook": {
                            "data": {
                              "id": "cda37836-aa40-455e-8b43-5fd74930c7f6",
                              "type": "webhook"
                            }
                          },
                          "webhook_notification_logs": {
                            "data": []
                          }
                        }
                      },
                      "included": [
                        {
                          "id": "fc48cb10-b7a8-47a4-a12f-89bce7434978",
                          "type": "container_updated_event",
                          "attributes": {
                            "changeset": {
                              "available_for_pickup": [
                                false,
                                true
                              ],
                              "pod_terminal_holds": [
                                null,
                                [
                                  {
                                    "name": "customs",
                                    "status": "hold",
                                    "description": "CUST EXAM"
                                  }
                                ]
                              ]
                            },
                            "timestamp": "2020-06-04T22:03:09Z",
                            "timezone": "America/Los_Angeles"
                          },
                          "relationships": {
                            "container": {
                              "data": {
                                "id": "1445af31-991c-4d52-a183-6c3ea97cd6e8",
                                "type": "container"
                              }
                            },
                            "terminal": {
                              "data": {
                                "id": "07db0258-1911-4acf-8e70-0cfe4b100f80",
                                "type": "terminal"
                              }
                            }
                          }
                        },
                        {
                          "id": "1445af31-991c-4d52-a183-6c3ea97cd6e8",
                          "type": "container",
                          "attributes": {
                            "number": "GLDU1355602",
                            "seal_number": "431ac97412228532",
                            "created_at": "2020-05-04T22:03:09Z",
                            "equipment_type": "dry",
                            "equipment_length": 40,
                            "equipment_height": "standard",
                            "weight_in_lbs": 55634,
                            "fees_at_pod_terminal": [],
                            "holds_at_pod_terminal": [],
                            "pickup_lfd": null,
                            "availability_known": true,
                            "available_for_pickup": null,
                            "pod_arrived_at": "2020-06-04T22:03:08Z",
                            "pod_discharged_at": "2020-06-04T22:03:08Z",
                            "final_destination_full_out_at": "2020-06-04T22:03:08Z",
                            "pod_full_out_at": null,
                            "empty_terminated_at": null
                          },
                          "relationships": {
                            "shipment": {
                              "data": null
                            }
                          }
                        },
                        {
                          "id": "07db0258-1911-4acf-8e70-0cfe4b100f80",
                          "type": "terminal",
                          "attributes": {
                            "id": "07db0258-1911-4acf-8e70-0cfe4b100f80",
                            "nickname": "Denesik-Hintz",
                            "name": "Adams LLC Terminal",
                            "firms_code": "E005"
                          },
                          "relationships": {
                            "port": {
                              "data": {
                                "id": "d8a92775-95f9-47be-a6d2-42542a32d5fc",
                                "type": "port"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhook-notification-id",
        "description": "\n",
        "tags": [
          "Webhook Notifications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Comma delimited list of relations to include.",
            "name": "include"
          }
        ]
      }
    },
    "/webhook_notifications": {
      "get": {
        "summary": "List webhook notifications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/webhook_notification"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "$ref": "#/components/schemas/webhook"
                          },
                          {
                            "$ref": "#/components/schemas/tracking_request"
                          },
                          {
                            "$ref": "#/components/schemas/transport_event"
                          },
                          {
                            "$ref": "#/components/schemas/estimated_event"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-webhook-notifications",
        "description": "Return the list of  webhook notifications. This can be useful for reconciling your data if your endpoint has been down. ",
        "tags": [
          "Webhook Notifications"
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "page[size]"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include."
          }
        ]
      }
    },
    "/containers": {
      "get": {
        "summary": "List containers",
        "tags": [
          "Containers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/container"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/shipment"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/links"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/meta"
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-containers",
        "description": "Returns a list of container. The containers are returned sorted by creation date, with the most recent container appearing first.\n\nThis API will return all containers associated with the account.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1
            },
            "in": "query",
            "name": "page[number]"
          },
          {
            "schema": {
              "type": "integer",
              "default": 30
            },
            "in": "query",
            "name": "page[size]",
            "description": ""
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "include",
            "description": "Comma delimited list of relations to include"
          }
        ]
      }
    },
    "/containers/{id}": {
[...]
